table{
    background-color: aqua;
    border-collapse: collapse;
    margin: 20px;
}
th{
    background-color: rgb(66, 138, 83);
    color: white;
    border: solid 1px black;
    padding: 10px;

}
td{
    background-color: rgb(119, 119, 173);
    color: white;
    border:solid 1px black;
    padding: 10px;
}